---
import BentoItem from "./BentoItem.astro";
import Pill from "./Pill.astro";
---

<section
  id="projects"
  class={`
    w-full max-w-[1400px]
    grid lg:grid-cols-10 auto-rows-[30rem] gap-4
    mx-auto px-6 pt-20 md:px-12 md:pt-20  lg:px-20 lg:pt-20
  `}
>
  <BentoItem target="_blank" href="https://game-of-life-hxst1.vercel.app/" class="col-span-10 md:col-span-4" title="Game of life">
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
        h-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-indigo-950 group-hover:bg-transparent sm:blur-[4px] sm:group-hover:blur-0 -z-10"
      style="background-image: url('/img/game-of-life.webp')"
    >
    </div>
    <div
      slot="content"
      class="flex flex-wrap"
    >
      <Pill iconName="nextjs" name="NextJS" ></Pill>
    </div>
  </BentoItem>
  <BentoItem
    target="_blank"
    href="https://ghibli4me.vercel.app/"
    class="col-span-10 md:col-span-6"
    title="Ghibli4me" subtitle="All Studio Ghibli content"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
    h-full group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-teal-950 group-hover:bg-transparent sm:blur-[4px] sm:group-hover:blur-0 -z-10"
      style="background-image: url('/img/ghibli4me.webp')"
    >
    </div>
    <div
      slot="content"
      class="flex flex-wrap"
    >
      <Pill iconName="astrojs" name="AstroJS" ></Pill>
      <Pill iconName="tailwindcss" name="TailwindCSS" ></Pill>
    </div>
  </BentoItem>
  <BentoItem
    target="_blank"
    href="https://hikarilove.app"
    class="col-span-10 md:col-span-6"
    title="Hikari"
    subtitle="Discord Bot"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
        h-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-cyan-950 group-hover:bg-transparent sm:blur-[4px] sm:group-hover:blur-0 -z-10"
      style="background-image: url('/img/hikarilove.webp')"
    >
    </div>
    <div
      slot="content"
      class="flex flex-wrap"
    >
      <Pill iconName="discordjs" name="DiscordJS" ></Pill>
      <Pill iconName="mongodb" name="MongoDB" ></Pill>
      <Pill iconName="nodejs" name="NodeJS" ></Pill>
    </div>
  </BentoItem>
  <BentoItem href="#home" class="col-span-10 md:col-span-4" title="Portfolio">
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full
        h-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-violet-950 group-hover:bg-transparent sm:blur-[4px] sm:group-hover:blur-0 -z-10"
      style="background-image: url('/img/portfolio.webp')"
    >
    </div>
    <div
      slot="content"
      class="flex flex-wrap"
    >
      <Pill iconName="astrojs" name="AstroJS" ></Pill>
      <Pill iconName="tailwindcss" name="TailwindCSS" ></Pill>
    </div>
  </BentoItem>
</section>