---
import { getIcon } from "../utils/getIcon";

---

<section class="min-h-[calc(100vh-8rem)] flex justify-center items-center flex-col" id="contact">
  <h2 class="text-3xl font-bold text-center mb-10 text-white">Contact</h2>

  <div class="flex justify-center space-y-5 bg-black/60 shadow-xl shadow-black/60 rounded-xl w-full md:max-w-[700px] p-10">
    <div class="flex flex-col items-start">
      <a href="https://www.linkedin.com/in/edu-ruiz-cantos/" target="_blank" class="flex flex-row" set:html={getIcon("linkedin", "LinkedIn")} />
      <a href="https://github.com/hxst1" target="_blank" class="flex flex-row my-3" set:html={getIcon("github", "Github")} />
      <a href="mailto:imhxst1@gmail.com" class="flex flex-row" set:html={getIcon("email", "imhxst1@gmail.com")} />
    </div>
  </div>
</section>