---
const { title, subtitle } = Astro.props;

---

<section class="min-h-[calc(100vh-89px)] flex flex-col items-center justify-center" id="home">
  <h1 class="text-white text-2xl sm:text-4xl md:text-6xl md:mb-2 font-medium">{title}</h1>
  <h2 class="text-white text-1xl sm:text-2xl md:text-4xl font-extralight">{subtitle}</h2>
</section>

<style>
  section {
    animation: fadeIn 0.7s ease-in-out;
  }
</style>