---
  const { idRef, title } = Astro.props
---

<section id={idRef} class="min-h-screen flex items-center justify-center p-5 sm:p-14" id="work-experience">
  <div class="w-full md:w-3/4">
    <p class="text-2xl font-bold text-center mb-10 text-white">{title}</p>
    <div class="relative">
    <div class="custom-dashed-line absolute h-full left-1/2 transform -translate-x-1/2"></div>
    <slot />
  </div>
</section>

<style>
  .custom-dashed-line {
    width: 1px;
    height: 100%;
    background-color: #191919;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }
    @media (max-width: 768px) {
    .custom-dashed-line {
      left: 0.5rem; /* Ajusta al margen izquierdo */
      transform: translateX(0%); /* Remueve la transformación */
    }
  }
</style>