* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: "Shippori Antique B1", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}
