---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body class="min-h-screen pb-32">
		<Header />
		<div class="background"></div>
		<main class="max-w-5xl px-5 lg:px-6 m-auto">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Geist';
		src: url('/fonts/Geist-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'GeistMono';
		src: url('/fonts/GeistMono-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	html {
		font-family: "Geist" ,system-ui, sans-serif;
		background: #1e1e1e;
		background-size: 224px;
		color-scheme: dark light;
		overflow-x: hidden;
		scroll-behavior: smooth;
	}
	
	.background {
		z-index: -1;
		position: fixed;
		top: -50%;
		left: -50%;
		right: -50%;
		bottom: -50%;
		width: 200%;
		height: 200vh;
		background: transparent url('/img/noise-transparent.png') repeat 0 0;
		background-repeat: repeat;
		animation: bg-animation .2s infinite;
		opacity: .9;
		visibility: visible;
	}

	@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

	@keyframes bg-animation {
			0% { transform: translate(0,0) }
			10% { transform: translate(-5%,-5%) }
			20% { transform: translate(-10%,5%) }
			30% { transform: translate(5%,-10%) }
			40% { transform: translate(-5%,15%) }
			50% { transform: translate(-10%,5%) }
			60% { transform: translate(15%,0) }
			70% { transform: translate(0,10%) }
			80% { transform: translate(-15%,0) }
			90% { transform: translate(10%,5%) }
			100% { transform: translate(5%,0) }
	}

	@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
