---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}/>
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#1e1e1e"/>
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body class="min-h-screen pb-32">
		<Header />
		<main class="max-w-5xl px-5 lg:px-6 m-auto">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Geist';
		src: url('/fonts/Geist-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'GeistMono';
		src: url('/fonts/GeistMono-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	html {
		font-family: "Geist" ,system-ui, sans-serif;
		background: #191919;
		background-size: 224px;
		color-scheme: dark light;
		overflow-x: hidden;
		scroll-behavior: smooth;
	}

	@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

	@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
